<<!DOCTYPE html>
<html>
<head>
	<title>What do you think of my outfit?</title>
	<title>Scan Page</title>
	<link rel="stylesheet" type = "text/css" href = "styles/styleguide.css">
	<link rel="stylesheet" type = "text/css" href = "styles/main.css">
</head>
<body>
	<img src="images\433sf.jpg" class="img-thumbnail" alt="Cinque Terre" width="20%" height="20%">	

	<div style="margin:0 auto;">
	<a style="display:inline-block"><img src="images\thumbs-up.png" name="thumbsup" /></a>
	<a style="display:inline-block"><img src="images\thumbs-down.png" name="thumbsdown" /></a>
	<div>
</body>
</html>