<div class="sticky sticky--header">
  <div class="title-bar title-bar--border bg--wh">
    <div class="title-bar__action-area title-bar__action-area--left">
            <a class="title-bar__button title-bar__button--left button button--flat" href="/#/scan">
             <i class="title-bar__button-icon title-bar__button-icon--left button__icon i i--caret-left "></i>
            </a>
    </div>
    <h1 class="title-bar__title">Buy/Don't Buy</h1>
  <div class="title-bar__action-area title-bar__action-area--right">
            <a class="title-bar__button title-bar__button--right button button--flat" href="/#/history">
             <i class="title-bar__button-icon title-bar__button-icon--right button__icon i i--time "></i>
            </a>
    </div>
  </div>
</div>

<div style="padding-top:44px; padding-bottom:66px;">
	<img src="images\433sf.jpg" class="img-thumbnail" alt="Cinque Terre" width="20%" height="20%">	
<div>

<div class="button-pair sticky sticky--footer">
<button ng-click="disableButton" ng-class="buttonEnabled ? button--disabled" class="button-pair__button button button--primary" style="height: 66px; padding-top: 15px;" ng-class="buttonEnabled ? button--disabled"><img width="30px" src="..\images\thumbs-up.png"  /></button>
<button ng-click="disableButton" class="button-pair__button button button--secondary" style="height: 66px; padding-top: 15px;"><img width="30px" src="..\images\thumbs-down.png" /></button>
</div>

